<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="alanglang.naree.db.domain.Ad" alias="Ad"/>
		<typeAlias type="alanglang.naree.db.domain.Admin" alias="Admin"/>
		<typeAlias type="alanglang.naree.db.domain.Eng" alias="Eng"/>
		<typeAlias type="alanglang.naree.db.domain.Entries" alias="Entries"/>
		<typeAlias type="alanglang.naree.db.domain.SqlEntriesAd" alias="SqlEntriesAd"/>
		<typeAlias type="alanglang.naree.db.domain.MainBg" alias="MainBg"/>
		<typeAlias type="alanglang.naree.db.domain.StarBg" alias="StarBg"/>
		<typeAlias type="alanglang.naree.db.domain.EngBg" alias="EngBg"/>
		
		
	</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://182.162.143.24:3306/alanglang_db"/>
        <!-- <property name="url" value="jdbc:mysql://localhost:3306/alanglang_db"/> -->
        <property name="username" value="alanglang"/>
        <property name="password" value="alanglang123"/>
      </dataSource>
    </environment>
  </environments>
  
  
  <mappers>
    <mapper resource="mapper/AdminMapper.xml"/>
    <mapper resource="mapper/AndMapper.xml"/>
  </mappers>
  
</configuration>