<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="alanglang.naree.db.mapper.AdminMapper">

	<select id="searchAdmin" parameterType="String" resultType="Admin">
		SELECT admin_seq, admin_id, admin_pw, admin_name
		FROM	admin_tb
		WHERE admin_id = #{admin_id}
	</select>
	
	<select id="selectEngSeq" resultType="String">
		SELECT max(eng_seq) as eng_seq FROM eng_tb
	</select>
	
	<insert id="insertEng" parameterType="Eng">
		INSERT INTO eng_tb (
							eng_seq
							,today_date
							,eng_sentence
							,eng_mean
							,eng_sound_name
							,eng_image_name
							,eng_sound_server
							,eng_image_server
							,input_date ) VALUES (
							#{eng_seq}
							,#{today_date}
							,#{eng_sentence}
							,#{eng_mean}
							,#{eng_sound_name}
							,#{eng_image_name}
							,#{eng_sound_server}
							,#{eng_image_server}
							,now())
	</insert>
	
	<select id="selectAdSeq" resultType="String">
		SELECT max(ad_seq) as ad_seq FROM ad_tb
	</select>
	
	<insert id="insertAd" parameterType="Ad">
		INSERT INTO ad_tb (
							ad_seq
							,start_date
							,end_date
							,company_name
							,company_tel
							,company_addr1
							,company_addr2
							,ad_name
							,ad_sound_name
							,ad_image_name
							,ad_sound_server
							,ad_image_server
							,ad_url
							,youtube_addr
							,ad_gubun
							,input_date
							,entry_or ) VALUES (
							#{ad_seq}
							,#{start_date}
							,#{end_date}
							,#{company_name}
							,#{company_tel}
							,#{company_addr1}
							,#{company_addr2}
							,#{ad_name}
							,#{ad_sound_name}
							,#{ad_image_name}
							,#{ad_sound_server}
							,#{ad_image_server}
							,#{ad_url}
							,#{youtube_addr}
							,#{ad_gubun}
							,now()
							,#{entry_or} )
	</insert>
	
	<select id="searchAdList" parameterType="Ad" resultType="Ad">
		SELECT ad_seq
					,start_date
					,end_date
					,company_name
					,company_tel
					,company_addr1
					,ad_name
					,ad_url
					,youtube_addr
					,ad_gubun
					,input_date 
		  FROM ad_tb
		  <where>
		  	<if test="ad_name != null">ad_name LIKE concat('%', #{ad_name}, '%') </if>
		  	<if test="company_name != null">AND company_name LIKE concat('%', #{company_name}, '%') </if>
		  	<if test="start_date != null">AND start_date = date(#{start_date})</if>
		  	<if test="end_date != null">AND end_date = date(#{end_date})</if>
		  </where>
	</select>
	
	<select id="selectEntries" parameterType="String" resultType="Entries">
		SELECT entry_seq, name, email, phone, win_sepa, coupon_num, coupon_use, ad_seq
		  FROM entries_tb
		WHERE ad_seq = #{ad_seq}
	</select>
	
	<select id="selectWinSepa" parameterType="String" resultType="String">
		SELECT win_sepa FROM entries_tb
		WHERE entry_seq = #{entry_seq}
	</select>
	
	<update id="updateWinSepa" parameterType="Entries">
		UPDATE entries_tb
		      SET win_sepa = #{win_sepa}
		            <if test="coupon_num != null">,coupon_num = #{coupon_num}</if>
         WHERE entry_seq = #{entry_seq}
	</update>
	
<!-- 	<insert id="insertBg" parameterType="Bg">
		<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select MAX(bg_seq)+1 from bg_tb
		</selectKey>
		INSERT INTO bg_tb (
							bg_seq
							<if test></if>
							,main_bg_name
							,main_bg_server
							,star_bg_name
							,star_bg_server
							,eng_bg_name
							,eng_bg_server) VALUES (
							#{id}
							,#{main_bg_name}
							,#{main_bg_server}
							,#{star_bg_name}
							,#{star_bg_server}
							,#{eng_bg_name}
							,#{eng_bg_server} )
	</insert> -->
	
	<select id="selectMainBgSeq" resultType="Integer">
		SELECT IFNULL(max(main_bg_seq), 0) 
		  FROM main_bg_tb
	</select>
	<insert id="insertMainBg" parameterType="MainBg">
		INSERT INTO main_bg_tb (
							main_bg_seq
							,main_bg_name
							,main_bg_server ) VALUES (
							#{main_bg_seq}
							,#{main_bg_name}
							,#{main_bg_server} )
	</insert>
	
	<select id="selectStarBgSeq" resultType="Integer">
		SELECT IFNULL(max(star_bg_seq), 0) 
		  FROM star_bg_tb
	</select>
	<insert id="insertStarBg" parameterType="StarBg">
		INSERT INTO star_bg_tb (
							star_bg_seq
							,star_bg_name
							,star_bg_server ) VALUES (
							#{star_bg_seq}
							,#{star_bg_name}
							,#{star_bg_server} )
	</insert>
	
	<select id="selectEngBgSeq" resultType="Integer">
		SELECT IFNULL(max(eng_bg_seq), 0) 
		  FROM eng_bg_tb
	</select>
	<insert id="insertEngBg" parameterType="EngBg">
		INSERT INTO eng_bg_tb (
							eng_bg_seq
							,eng_bg_name
							,eng_bg_server ) VALUES (
							#{eng_bg_seq}
							,#{eng_bg_name}
							,#{eng_bg_server} )	
	</insert>

</mapper>