<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="gakkoga.naree.db.mapper.AndMapper">


	<select id="searchMaxEngSeq" resultType="String">
		SELECT max(eng_seq) as eng_seq FROM eng_tb
	</select>
	
	<select id="findTodayEng" parameterType="String" resultType="Eng">
		SELECT eng_seq
					,eng_sentence
					,eng_mean
					,eng_sound_server
					,eng_image_server
		  FROM eng_tb
		WHERE eng_seq = #{eng_seq}
	</select>
	
	<select id="findThreeEng" resultType="Eng">
		SELECT eng_seq
					,today_date
					,eng_sentence
					,eng_mean
		  FROM eng_tb
    ORDER BY eng_seq DESC
           LIMIT 1, 3
	</select>
	
	<select id="findAd" resultType="Ad">
		SELECT ad_seq
					,start_date
					,end_date
					,company_name
					,company_tel
					,company_addr1
					,ad_name
					,ad_sound_name
					,ad_image_name
      				,ad_sound_server
      				,ad_image_server
      				,ad_url
      				,youtube_addr
      			,ad_gubun
      				,input_date
      				,call_num
      				,entry_or
		  FROM ad_tb
		  <![CDATA[
		WHERE date(start_date) <= date(now())
			AND date(now()) <= date(end_date)
			]]>
   ORDER BY call_num asc
		  LIMIT 1
	</select>
	
	<update id="updateCallNum" parameterType="Ad">
		UPDATE ad_tb
		      SET call_num = #{call_num} 
	    WHERE ad_seq = #{ad_seq}
	</update>
	
	<select id="selectEntrySeq" resultType="String">
		SELECT max(entry_seq) as entry_seq FROM entries_tb
	</select>
	
	<insert id="insertEntries" parameterType="Entries">
		INSERT INTO entries_tb (
							entry_seq
							,name
							,email
							,phone
							,input_datetime
							,ad_seq ) VALUES (
							#{entry_seq}
							,#{name}
							,#{email}
							,#{phone}
							,now()
							,#{ad_seq} )
	</insert>
	
	<select id="selectEntries" parameterType="Entries" resultType="Integer">
		SELECT count(*) FROM entries_tb
		WHERE ad_seq = #{ad_seq}
		    AND name = #{name}
		    AND email = #{email}
		    AND 	phone = #{phone}
	</select>

</mapper>