@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

*{list-style:none; font-family:'Noto Sans KR', sans-serif}
a, input[type="button"] {cursor: pointer;}

/* layout UI Object */
body{_text-align:center; width:100%; min-width: 980px;}
#wrap{margin:0 auto;_text-align:left;background: url('../images/bg/pattern.pn'); font-size:12px}

/*  container */
#container{position:relative;width:100%;min-width: 980px; margin: 0 auto; background: url('../images/bg/bg.jpg') cover/center;}
#container2{position:relative;width: 980px; margin: 0 auto; overflow: hidden; background: #fff}
#container:after{display:block;clear:both;content:''}


.section {text-align: center;}

/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3,
#slide2{
	background-size: cover;
	background-attachment: fixed;
}	

/* Defining each sectino background and styles
* --------------------------------------- */
#section0{
	background-image: url(http://knowledge-seek.com/resources/images/bg/main_bg.jpg);
	padding: 15% 19%;
}
#section2{
	background-image: url(http://knowledge-seek.com/resources/images/bg/bg1.jpg);
	padding: 2% 0 0 0;
}

	/*Adding background for the slides
* --------------------------------------- */
#slide1{
	background-color: #1e1e1e;
	padding: 5% 0 7% 0;
	overflow: hidden;
}
#slide2{
	background-image: url(../images/bg/Phyctogram.png);
	background-position: center;
	padding: 7% 0 0 0;
}
#slide3{
	background-color: #f5f5f5;
	padding: 5% 0 7% 0;
}


#section0 {text-align: left;}
#section0 h1 {font-family: 'Titillium Web', sans-serif;}
#section0 p.pt26 {width: 435px; font-size: 26px;}
#section0 .biz {margin-top: 5%;}
#section0 .biz a {width:46px; height:46px; color: #fff; border: 1px solid #fff; -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in; display:inline-block; text-align:left; overflow:hidden;}
#section0 .biz a:before {content:''; display:block; float:left; width:48px; height:48px; background: url('../images/bg/bg_more.png') no-repeat center; text-indent:-9999px; vertical-align:middle;}
#section0 .biz a span {display:block; opacity: 0; -webkit-transition : all 0s ease-in; transition: all 0s ease-in; margin-top: 7px; vertical-align: middle;}
#section0 .biz a:hover {width:175px;}
#section0 .biz a:hover span {opacity:1; -webkit-transition: all 0.5s ease-in; transition: all 0.5s ease-in;}

#section0 .biz h2 {background: rgba(0, 0, 0, 0.6);}
#section0 .biz div {float: left; width:33.33%; padding: 11% 0; background: rgba(0, 0, 0, 0.3); text-align:center; -webkit-transition: all 1s; transition: all 1s;}
#section0 .biz div:hover {background: rgba(0, 0, 0, 0.8);}
#section0 .biz1,
#section0 .biz2,
#section0 .biz3 {padding:10px 0;}

#section0_1 {background: url('../images/bg/bg1.jpg'); }
#section0_1 p,
#section0_1 li {color: #fff}

.org_bg,
.org_bg2 {width: 100%; text-align: center;}
.org_bg {padding: 120px 0; background: url('../images/bg/bg_org.png') no-repeat center;}
.org_bg2 {padding: 70px 0 90px; margin-bottom: 20px; background: url('../images/bg/org.png') no-repeat center; font-size: 20px; color: #fff; font-weight: bold;}
.org {width: 20%; float: left; margin: 0 6.6% 30px;}
.org ul {border-top: 3px solid #fff;}
.org ul li {border-bottom: 1px solid #fff; padding: 20px 0; font-size: 1.2rem; font-weight: bold;}

.slide h1, #section2 h1 {width: 1130px; margin: 0 auto; text-align: center; font-size: 35px;}
#slide1 .div3 {width: 32%; float: left; height: 400px; margin-top: 35px;}
#slide1 .div3 span {font-weight: normal;}
#slide1 .pt46 {padding-top: 2.1%}
#slide1 .pt20 {padding-bottom: 1.8%}
#slide1 div {-webkit-transition: all 2s; transition: all 2s;}
#slide1 div.wrap {width: 1186px; margin: 0 auto;}
#slide1 .b1 {background: url('../images/bg/b1.jpg') no-repeat center/175%; margin-right: 1%;}
#slide1 .b2 {background: url('../images/bg/b3.jpg') no-repeat center/175%; margin-right: 1%;}
#slide1 .b3 {background: url('../images/bg/b2.jpg') no-repeat center/175%;}
#slide1 .b1,
#slide1 .b2,
#slide1 .b3 {display: table;}
#slide1 .b1 p,
#slide1 .b2 p,
#slide1 .b3 p {display: table-cell; font-weight: bold;}

#slide2 .div2 {width: 1186px; min-height: 375px; margin: 0 auto; padding: 0 23px;}
#slide2 .div2 .pt20 {padding: 3% 0; float: left; text-align: left;}
#slide2 .div2 .img {width: 235px; height:77px; background: url('../images/img/logo_sbc.png'); margin: 3% 0 1%;}
#slide2 .div2 .img2 {width: 189px; height: 73px; background: url('../images/img/logo_mi.png');}
#slide2 p, #slide2 h1 {width: 1186px; text-align: left; margin: 0 auto; padding: 0 23px;}
#slide3 .div4 {width: 100%; margin: 2% auto 0; overflow: hidden;}
#slide3 .div4 div {float:left; width: 25%; height: 495px; line-height: 495px; line-height: -moz-block-height; -webkit-transition: all 1s; transition: all 1s; }
#slide3 .div4 div:first-child {background: url('../images/bg/1.jpg') no-repeat center/165%;}
#slide3 .div4 div:nth-child(2) {background: url('../images/bg/2.jpg') no-repeat center/165%;}
#slide3 .div4 div:nth-child(3) {background: url('../images/bg/3.jpg') no-repeat center/165%;}
#slide3 .div4 div:last-child {background: url('../images/bg/4.jpg') no-repeat center/165%;}

#section2 h1 {}
#section2 .addr {width:100%; height:450px;}
#section2 .addr .box-map{margin-top: 2%}
#section2 .addr p {width:33.33%; padding: 6% 0; float: left;}


.aboutUs {width: 100%; background: url('../images/bg/bg0.jpg') no-repeat; padding: 8% 0;}
.aboutUs .sign {width: 200px; height: 211px; margin: 0 auto; background: url('../images/logo/signature_box.png');}
.aboutUs .sign img {
    /* -webkit-animation: rint 4s linear infinite;
    -moz-animation: rint 4s linear infinite;
    animation: rint 4s linear infinite;
    transform-style: preserve-3d;
    transition: 0.5s linear; */
}
/* @-moz-keyframes rint {
	from {-moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
	to {-moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);}
}
@-webkit-keyframes rint {
	from {-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
	to {-webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);}
}
@keyframes rint {
	from {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
	to {transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);}
} */

.aboutUs .pt36 {padding-top: 1%;}
.aboutUs .pt19 {width: 28%; margin: 1% auto; text-align: center; font-size: 19px; line-height: 38.5px}

#section2 .org:nth-child(2) {margin-left: 13.2%; margin-right: 6.6%;}
#section2 .org:nth-child(3) {margin-left: 0%; margin-right: 6.6%;}
#section2 .org:nth-child(4) {margin-left: 0%; margin-right: 13.2%;}


.pt14 {font-size: 14px;}
.pt18 {font-size: 18px;}
.pt20 {font-size: 1.2rem;}
.pt26 {font-size: 2rem;}
.pt36 {font-size: 3rem;}
.pt46 {font-size: 4rem;}

.shadow {text-shadow: 2px 2px 2px #222}
.lh6 {line-height: 6px;}

.colfff {color: #fff;}
.col777 {color: #777;}
.col000 {color: #434343;}
.bgbk {background-color:rgba(0, 0, 0, 0.4); -webkit-transition: all 1s; transition: all 1s;}
.bgbk:hover {background-color:rgba(0, 0, 0, 0.5);}
.bgbl {background: #c2d1d7;}
.bggr {background: #cdd7c2;}
.bgdkblue {background: #545F6D;}


/* footer */
#footer{width:100%; min-width:980px; background: #333;clear:both;margin:0;}
#footer a,#footer em,#footer address,#footer span{margin:0;padding:0;color:#333;font-size:12px;line-height:normal;list-style:none;font-style:normal}
#footer .footerWrap {width: 980px; margin: 0 auto; overflow: hidden}
#footer a{color:#fff;}
#footer a:visited{color:#fff;}
#footer a:hover{text-decoration:underline}
#footer address{font-family: 'Titillium Web', sans-serif; font-size: 15px;overflow:hidden;}
#footer address a{color:#777;font-family: 'Titillium Web', sans-serif; font-size: 15px;font-weight:bold}
#footer address a:hover{color:#009bc8}
#footer address span{padding-left:2px;font-family: 'Titillium Web', sans-serif; font-size: 15px; color:#fff }
#footer address em{padding-left:0px;font-family: 'Titillium Web', sans-serif; font-size: 15px; color:#fff}
#footer{
	position:fixed;
	height: 50px;
	display:block;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 10px 0 0 0;
	bottom:0px;
}
/* //footer */






